services:
  mysql:
    image: mysql:8.0
    container_name: ads507_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    command: ["mysqld", "--local-infile=1"]
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sql/schema:/docker-entrypoint-initdb.d:ro
      - ./sql/mysql_conf:/etc/mysql/conf.d:ro
      - raw_data:/data/raw
  
  loader:
    image: alpine:3.19
    container_name: ads507_loader
    restart: "no"
    depends_on: ["mysql"]
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      RELEASE_TAG: v1.0-raw-data
      REPO_OWNER: nikitarogers333
      REPO_NAME: ads507-team4-project
    volumes:
      - raw_data:/data/raw
      - ./sql/schema:/schema:ro
      - ./scripts:/scripts:ro
    command: ["sh", "/scripts/bootstrap_and_load.sh"]

  adminer:
    image: adminer:4
    container_name: ads507_adminer
    environment:
      ADMINER_DESIGN:pepa-linha
      PHP_MEMORY_LIMIT=2G
      UPLOAD_MAX_FILESIZE=2G
      POST_MAX_SIZE=2G
    restart: unless-stopped
    ports:
      - "8081:8080"

volumes:
  mysql_data:
  raw_data:
